# Владельцы всех файлов: администраторы и старшие разработчики проектов
* @Miluino/admins @r3m4k @bogdan-unix

# Изменение правил владения кодом контролирует только команда администраторов
/.github/CODEOWNERS @Miluino/admins
